<div class="tag-area">
  <table><tbody><tr>
    <td class="first-info"><div class="tip common-black">登録タグ<div></td>
    <td><div id="tag-block">
      <ul class="tag-list">
        <li>四コマ</li>
        <li>おもしろ</li>
        <li>日常</li>
        <li><%= render partial: 'tag_form', locals: { manga: tweet.manga } %></li>
      </ul>
    </div></td>
  </tr></tbody></table>
</div>
