<% content_for(:header) do %>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<% end %>

<p id="notice"><%= notice %></p>
<div class="tw-container">
  <% @tweet.image_urls.split(',').each do |image_url| %>
    <img src="<%=image_url%>" width="400">
    <%= render partial: 'embed', locals: { tweet: @tweet } %>
  <% end %>
</div>

<%= link_to 'Back', tweets_path %>
