<% content_for(:header) do %>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<% end %>

<p id="notice"><%= notice %></p>
<div class="tw-container">
  <%= render partial: 'tags/tag', locals: { tweet: @tweet, isform: true } %>
  <% @tweet.image_urls.split(',').each do |image_url| %>
    <img src="<%=image_url%>" width="400">
  <% end %>
  <%= render partial: 'shared/embed', locals: { tweet: @tweet } %>
</div>
