<div class="tag-area">
  <table><tbody><tr>
    <td class="first-info"><div class="tip common-black">登録タグ<div></td>
    <td><div id="tag-block">
      <ul class="tag-list">
        <% tweet.manga.tags.each do |tag| %><li><%= tag.name %></li><% end %>
        <li><%= render partial: 'tags/tag_form', locals: { manga: tweet.manga } %></li>
      </ul>
    </div></td>
  </tr></tbody></table>
</div>
