<div class="tag-area">
  <table><tbody><tr>
    <td class="first-info">
      <div class="tip common-black">
        <% if defined? isform %>
          <a class="" href='#tag-modal' data-placement="left" data-toggle="modal" data-target="#tag-modal">
            <span>タグ<i class="glyphicon glyphicon-plus"></i></span>
          </a>
        <% else %>
          <span>タグ</span>
        <% end %>
      </div>
    </td>
    <td><div id="tag-block">
      <ul class="tag-list">
        <% tweet.manga.tags.each do |tag| %>
          <li><%= link_to tag.name, tag_path(tag) %></li>
        <% end %>
      </ul>
    </div></td>
  </tr></tbody></table>
</div>
<% if defined? isform %>
  <% content_for(:modal) do %>
    <%= render partial: 'tags/tag_form', locals: { manga: tweet.manga } %>
  <% end %>
<% end %>
