<% if @error.present? %>
  <div id="error_explanation">
    <%= @error %>
  </div>
<% end %>
<div id="result-word" class="result-word">
  <%= @tag.try(:name) %>
</div>
<div id="container">
  <% @tag.mangas.each do |manga| %>
    <%= render partial: 'shared/tweet_content', locals: { tweet: manga.tweet } %> 
  <% end %>
</div>
