// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'mofuji';
  src: url('/assets/mofuji.ttf') format('truetype');
}


.float-post{
  position: fixed;
  bottom: 10px;
  text-align: center;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  background-color : #EAE4DD;
  color : #ff6600;
  font-size : 20px;
  float : left;
  width : 140px;
  height : 50px;
  padding-top : 15px;
  left:50%;
  margin-left:-70px;
  border: 3px solid #fff;
  z-index: 9999;
  text-decoration: none;
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.float-post:link {
  color : #ff6600;
  text-decoration: none;
}
.float-post:visited {
  color : #ff6600;
  text-decoration: none;
}

.tw-container{
  float: left;
  clear: both;
  width: 96%;
  max-width: 400px;
  min-width: 220px;
  margin: 10px auto 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #AAB8C2;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color : #fff;
  padding : 5px;
}

.tw-item{
  float : left;
  width: 100%;
  border:none;
}

.tw-container img {
  width: 372px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
  border-width: 1px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
}

.tw-info{
  float: left;
  width: 100%;
  margin-top : 0;
  border-style : solid;
  border-width : 2px;
  border-color : white;
  border-bottom-color : #ffcc99;
  padding : 5px;
}

.tw-info .name{
  text-align : left;
  float : left;
  width : 50%;
  font-size : 12px;
  color : #333;
  list-style:none;
}
.tw-info .id{
  text-align : left;
  float : left;
  width : 50%;
  padding-left : 10px;
  font-size : 12px;
  color : #333;
  list-style:none;
  }

.tw-info .post-date{
  text-align : left;
  float : left;
  width : 100%;
  font-size : 12px;
  color : #333;
  list-style:none;
}

.detail-link{
  float : right;
  font-size : 14px;
  color : #B1BBC3;
  width : 100%;
  margin-top : 20px;
  margin-bottom : 20px;
  font-size : 20px;
}

.detail-link a{
  color:#0000ff;
  font-style:normal;
  text-decoration:underline;
}
.detail-link a:link {
  color:#0000ff;
  font-style:normal;
  text-decoration:underline;
}
.detail-link a:visited {
  color:#934C7B;
  text-decoration:underline;
}
.back-link{
  float : right;
  font-size : 14px;
  color : #B1BBC3;
  width : 100%;
  margin-bottom : 20px;
}

.back-link a{
  color:0000ff;
  font-style:normal;
  text-decoration:underline;
}
.back-link a:link {
  color:0000ff;
  font-style:normal;
  text-decoration:underline;
}
.back-link a:visited {
  color:#934C7B;
  text-decoration:underline;
}

iframe {
  border:none;
}

.tag-area{
  float : left;
  background-color : #EBF0F3;
  width : 100%;
}
.tag-header{
  float : left;
  color : #B1BBC3;
  width : 100%;
}
ul.tags li{
  margin : 5px;
  font-size : 14px;
  color : #B1BBC3;
  float : left;
}

.form-control{
  max-width : 350px;
  min-width : 180px;
}

#container {
  width: 400px;  
  margin: 0 auto;  
}
