@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

body{
  background-color : #EAE4DD;
  margin: 0 auto;
  padding: 0px;
  font-size: 100%;
  color: #333333;
  font-size: 12px;
  line-height: 120%;
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;
}
table {
  border-collapse: collapse;
}
td {
  word-break: break-all;
}
ul, li {
  list-style: none;
}
/* tips */
.tip.common-black {
  width: 50px;
  border: #000 solid 1px;
  border-radius: 3px;
  font-size: 11px;
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #474D4D;
  padding: 1px;
}
.tip {
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 0;
  padding-right: 2px;
  margin: 2px;
  width: 48px;
  text-align: center;
  cursor: default;
  display: inline-block;
  background-color: #373737;
}
.tip a , .tip a:link, .tip a:visited {
  color: #fff;
  font-size: 11px;
}

/* tag link*/
a.tag,
a.tag:link{
  color:#000;
  text-decoration:underline;
}

/* tag-area */
.tag-area {}
#tag-block {
  margin-left: 1em;
}
.tag-list li {
  float: left;
  padding: 0 5px 0 0;
  white-space: nowrap;
}
.tag-list li a {
  position: relative;
  background-color: #fff;
  color: #ff6600;
  font-size: 12px;
  font-family: メイリオ, Meiryo, verdana, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  border: 3px solid #fff;
  text-decoration: none;
  opacity: 0.8;
  padding: 0px 10px 0 5px;
  line-height: 28px;
  vertical-align: middle;
}
.tag-list li a:before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  border-width: 0px 8px 9px 0px;
  border-style: solid;
  border-color: #ff6600 #eee;
}
