// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'mofuji';
  src: url('/assets/mofuji.ttf') format('truetype');
}


.float-post{
    position: fixed;
    bottom: 10px;
    text-align: center;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    background-color : #EAE4DD;
    color : #ff6600;
    font-size : 20px;
    float : left;
    width : 140px;
    height : 50px;
    padding-top : 15px;
    left:50%;
    margin-left:-70px;
    border: 3px solid #fff;
    z-index: 9999;
    text-decoration: none;
    filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.float-post:link {
    color : #ff6600;
    text-decoration: none;
}
.float-post:visited {
    color : #ff6600;
    text-decoration: none;
}

.tw-container{
  float: left;
  clear: both;
  width: 96%;
  max-width: 400px;
  min-width: 220px;
  margin: 10px auto 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #AAB8C2;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color : #fff;
  padding : 5px;
  margin-left : 2%;
  margin-right : 2%;
}

.tw-container img{
  width: 90%;
  border:none;
}

.tw-item{
  float : left;
  width: 100%;
  border:none;  
}

.tw-info{
  background-color: #EBF0F3;
  float: left;
  width: 100%;
  margin-top : 10px;
  border-style : solid;
  border-width : 1px;
  border-top-color : #F8F4EF;
  border-left-color : #F8F4EF;
  border-right-color : #F8F4EF;
  border-bottom-color : #ffcc99;
  padding : 5px;
  mergin : 5px;
}

.tw-info .name{
  text-align : left;
  float : left;
  width : 50%;
  font-size : 12px;
  color : #333;
  list-style:none;
}
.tw-info .id{
  text-align : left;
  float : left;
  width : 50%;
  padding-left : 10px;
  font-size : 12px;
  color : #333;
  list-style:none;
  }

.tw-info .post-date{
  text-align : left;
  float : left;
  width : 100%;
  font-size : 12px;
  color : #333;
  list-style:none;
}

.detail-link{
  float : right;
  font-size : 14px;
  color : #B1BBC3;
  width : 100%;
  margin-top : 20px;
  margin-bottom : 20px;
  font-size : 20px;
}

.detail-link a{
    color:#0000ff;
    font-style:normal;
    text-decoration:underline;
}
.detail-link a:link {
    color:#0000ff;
    font-style:normal;
    text-decoration:underline;
}
.detail-link a:visited {
    color:#934C7B;
    text-decoration:underline;
}
.back-link{
  float : right;
  font-size : 14px;
  color : #B1BBC3;
  width : 100%;
  margin-bottom : 20px;
}

.back-link a{
    color:0000ff;
    font-style:normal;
    text-decoration:underline;
}
.back-link a:link {
    color:0000ff;
    font-style:normal;
    text-decoration:underline;
}
.back-link a:visited {
    color:#934C7B;
    text-decoration:underline;
}

iframe {
  border:none;
}

.tag-area{
  float : left;
  background-color : #EBF0F3;
  width : 100%;
}
.tag-header{
  float : left;
  color : #B1BBC3;
  width : 100%;
}
ul.tags li{
  margin : 5px;
  font-size : 14px;
  color : #B1BBC3;
  float : left;
}

.form-control{
  max-width : 350px;
  min-width : 180px;
}